body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/ba.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.status {
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.9); /* 模拟水墨显示屏背景 */
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace; /* 等宽字体 */
    color: #333; /* 深灰色字体 */
}

.status p {
    margin: 10px 0;
    font-size: 18px;
    visibility: hidden; /* 隐藏但保留空间 */
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.controls button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 40%;
}

.controls button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 